<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
>
    <testsuites>
        <testsuite name="Package Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="GOOGLE_SERVICE_ACCOUNT_JSON_PATH" value="service-account.json"/>
        <env name="GOOGLE_DRIVE_FOLDER_ID" value="test-folder-id"/>
    </php>
</phpunit>